.pulse {
    margin:5px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #028367;
    cursor: pointer;
    box-shadow: 0 0 0 #00745acc;
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(44, 204, 124, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(44, 204, 124, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(44, 204, 124, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(44, 204, 124, 0.4);
      box-shadow: 0 0 0 0 rgba(44, 204, 124, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(44, 204, 124, 0);
        box-shadow: 0 0 0 10px rgba(44, 204, 124, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(44, 204, 124, 0);
        box-shadow: 0 0 0 0 rgba(44, 204, 124, 0);
    }
  }